<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditReaderModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog tmss-modal-md">
        <div class="modal-content">
            <form *ngIf="active" #JoinCourseForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="!createOrEditReader.id">{{l("Thêm độc giả")}}</span>
                        <span *ngIf="createOrEditReader.id">{{l("Sửa độc giả")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                        <div class="kt-portlet kt-portlet--mobile">
                            <div class="kt-portlet__body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input [isDisabled]="false" required [isRequired]="true" type="text" [text]="l('Tên')"
                                                name="EmpName" [(ngModel)]="createOrEditReader.name">
                                            </tmss-text-input>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input [isDisabled]="false" required [isRequired]="true" type="text"
                                                [text]="l('Số điện thoại')" name="phoneNumber"
                                                [(ngModel)]="createOrEditReader.phoneNumber">
                                            </tmss-text-input>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input [isDisabled]="false" type="text"
                                                [text]="l('Địa chỉ')" name="address"
                                                [(ngModel)]="createOrEditReader.address">
                                            </tmss-text-input>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-combobox [isRequired]="true" [isDisabled]="false" required
                                                [items]="listTypeOfCardFilter" [text]="l('Loại thẻ')" name="cardType"
                                                [(ngModel)]="createOrEditReader.typeId"></tmss-combobox>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-datepicker [isRequired]="true" [text]="l('Ngày cấp')" required
                                                [(ngModel)]="createOrEditReader.expiredDayFrom" name="acitveDay" required>
                                            </tmss-datepicker>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-datepicker [isRequired]="true" [text]="l('Ngày hết hạn')" required
                                                [(ngModel)]="createOrEditReader.expiredDayTo" name="expiredDay" required>
                                            </tmss-datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="tmss-btn btn-outline-dark"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="tmss-btn btn-outline-primary" [buttonBusy]="saving"
                    [disabled]="!JoinCourseForm.form.valid"
                        [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save mr-1"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>