<!-- Vehicle Info -->
<div class="row">
    <div class="col-4">
        <p>* Tổng số sách: {{totalPaymentAndPrice.amountBorrow}}</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="tbContent">{{l("Danh sách sách có trong phiếu mượn")}}</div>
        <grid-table [columnDefs]="detailColumnDefs" [defaultColDef]="defaultColDef"
        (cellValueChanged)="onCellValueChanged($event)" [frameworkComponents]="frameworkComponents" [showPagination]="false"
        (callBackEvent)="callBackGrid($event)" (onChangeSelection)="onRowSelected($event)"
            [height]="'200px'"></grid-table>
    </div>
</div>

<div class="row" style="margin-top: 5px; justify-content: space-between; align-items: center; margin-top: 5px;">
    <div class="col-8" style="display: flex;justify-content: right;">
        <span style="color: red; text-align: left; font-weight: bold;">Tổng số lượng sách trả không được lớn hơn số lượng mượn!!!</span>
    </div>
    <div class="col-1"></div>
</div>
