<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog tmss-modal-md" [busyIf]="loading">
    <div class="modal-content">
      <div class="modal-header redline-header">
        <h4 class="modal-title"><span>{{l("Thông tin độc giả đang mượn sách")}}</span></h4>
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group" style="margin-block-end: 12px !important; " >
              <tmss-text-input [isDisabled]="false" (keyup)="eventEnter($event)" type="text" [text]="l('Tên độc giả')"
                name="reader" [(ngModel)]="reader">
              </tmss-text-input>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <tmss-checkbox name="isBorrowDate" [rightCheckbox]="true" [(ngModel)]="isBorrowDate"
                [text]="l('Ngày mượn sách')">
              </tmss-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <input name="deliveryDateFilter" type="text" class="form-control dateRangePicker right-picker"
                [disabled]="!isBorrowDate" bsDaterangepicker dateRangePickerMomentModifier [(date)]="borrowDate" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <button type="button" class="tmss-btn btn-outline-primary" (click)="refresh()">
                <i class="tmss-fa fas fa-redo mr-1"></i>{{l("Refresh")}}
              </button>
              <button class="tmss-btn btn-outline-primary" type="submit" (click)="search()"><i
                  class="fa fa-search mr-1"></i>
                <span>{{l('Search')}}</span>
              </button>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-3">
            <div class="form-group">
              <tmss-text-input [(ngModel)]="reader" [text]="l('Reader')"
                name="IndividualCustomerName"></tmss-text-input>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <tmss-checkbox name="isBorrowDate" [rightCheckbox]="true" [(ngModel)]="isBorrowDate"
                [text]="l('Ngày mượn sách')">
              </tmss-checkbox>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <input name="deliveryDateFilter" type="text" class="form-control dateRangePicker right-picker"
                [disabled]="!isBorrowDate" bsDaterangepicker dateRangePickerMomentModifier [(date)]="borrowDate" />
            </div>
          </div>
          <div class="col-3 ">
            <div class="form-group" style="display: flex;">
              <button class="tmss-btn btn-outline-primary" type="button" (click)="search()"><i
                  class="tmss-fa fa fa-search mr-1"></i>{{l("Tìm")}}</button>
              <button type="button" class="tmss-btn btn-outline-primary mr-0" (click)="refresh()">
                <i class="tmss-fa fas fa-redo mr-1"></i>{{l("Làm mới")}}
              </button>
            </div>
          </div>
        </div> -->
        <div class="row align-items-center">
          <div class="col-md-12">
            <grid-table [columnDefs]="columnDefs" [paginationParams]="paginationParams" [defaultColDef]="defaultColDef"
              (callBackEvent)="callBackGrid($event)" [rowData]="rowData" (changePaginationParams)="changePage($event)"
              (onChangeSelection)="onChangeSelection($event)" [height]="'450px'"
              [frameworkComponents]="frameworkComponents">
            </grid-table>
          </div>
        </div>
        <div class="text-right mt-1">
          <button class="tmss-btn btn-outline-primary" (click)="save()" [disabled]="!selectedBorrowId">
            <i class="tmss-fa fas fa-check mr-1"></i>{{l("Select")}}
          </button>
          <button type="button" class="tmss-btn btn-outline-dark" (click)="close()"><i class="fas fa-power-off"></i>
            {{l("Close")}}</button>
        </div>
      </div>
    </div>
  </div>
</div>