<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog tmss-modal-lg" [busyIf]="loading">
    <div class="modal-content">
      <div class="modal-header redline-header">
        <h4 class="modal-title">
          <span>{{ l('Tạo mới/Cập nhật') }}</span>
        </h4>
        <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form *ngIf="active" #packageForm="ngForm" novalidate autocomplete="off">
        <div class="modal-body" style="padding-top: 5px">
          <!-- Thông tin người liên hệ -->
          <fieldset class="fieldset-border" style="width: 100%; border: 1px solid" *ngIf="!isShowContactInfo">
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <tmss-combobox required [isRequired]="true" [items]="listReader" [text]="l('Reader')" name="reader"
                  [(ngModel)]="borrowBook.readerId"></tmss-combobox>
                  <!-- <div class="input-group-text left-text col-2" [ngClass]="textClass">
                    {{ l('Độc giả') }}
                  </div>
                  <p-dropdown class="col-4" [style]="{
                        width: '100%',
                        height: '100%',
                        'border-radius': '0',
                        'padding-right': '0px',
                        'background-color': '#ffc'
                    }" [options]="listReader" [(ngModel)]="borrowBook.readerId" optionLabel="label" optionValue="value"
                    [dropdownIcon]="" [required]="true" [showClear]="false" [filter]="true" name="SalesPersonId"
                    (onChange)="changeReader()"></p-dropdown> -->
                  <!-- <tmss-combobox [items]="salesPersons" [text]="l('SalesCustomerSalesPerson')" [isDisabled]="!isSaleAdmin" name="SalesPersonId" [isRequired]="true" [(ngModel)]="saleContract.salesPersonId"></tmss-combobox> -->
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <tmss-datepicker [isRequired]="true" [text]="l('Ngày mượn')" required
                    [(ngModel)]="borrowBook.borrowDate" name="borrowDate">
                  </tmss-datepicker>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <tmss-datepicker [isRequired]="true" [text]="l('Hạn trả')" required [(ngModel)]="borrowBook.dueDate"
                    name="dueDate">
                  </tmss-datepicker>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <tmss-text-input [text]="l('Tổng số sách')" [isDisabled]="true" name="amountBorrow"
                    [(ngModel)]="borrowBook.amountBorrow"></tmss-text-input>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <div class="form-group input-group">
                    <span class="col-md-4 input-group-text left-text">{{ l('Tổng tiền sách') }}</span>
                    <input class="form-control tmss-form-control right-text" currencyMask disabled
                      [(ngModel)]="borrowBook.totalLoanAmount" [options]="options" name="totalLoanAmount" />
                  </div>
                </div>
              </div>
            </div>
          </fieldset>

          <!-- Thông tin sách -->
          <fieldset class="fieldset-border" style="width: 100%; border: 1px solid" *ngIf="!isShowDetailInfo">
            <app-create-or-edit-borrow-detail #detailBorrowModal [selectedBorrowId]="selectedBorrowId"
              (modalSave)="showVehicleDetail()" (updateQuantityOrPayment)="updateQuantityOrPayment($event)">
            </app-create-or-edit-borrow-detail>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="submit" class="tmss-btn btn-outline-primary" (click)="save()" [buttonBusy]="saving">
            <i class="fa fa-save mr-1"></i>
            <span>{{ l('Lưu tất cả') }}</span>
          </button>
          <button [disabled]="saving" type="button" class="tmss-btn btn-outline-dark" (click)="close()">
            <i class="fas fa-power-off"></i> {{ l('Close') }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>