<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}" [busyIf]="loading">
  <div class="modal-dialog tmss-modal-lg">
    <div class="modal-content">
      <div class="modal-header redline-header">
        <h4 class="modal-title"><span>{{l(" Import sách")}}</span></h4>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="ui-md-12" style="display: flex;margin-left: -17px;">
        <tmss-text-input [text]="'Đường dẫn file import'" [(ngModel)]="fileName" style="width: 368px;"  disabled></tmss-text-input>
        <div style="display: flex; justify-content: space-between;"  >
            <input #imgInput type="file" class="d-none" (change)="onUpload($event)"
                accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
            <button type="button" style="margin-left: 4px; height: 24px;margin-top: 2px;" (click)="reset()">
                <i class="fa fa-file-upload mr-1"></i>
                <span>{{ 'Chọn file' }}</span>
            </button>
            <button class="tmss-btn btn-outline-success " (click)="refresh()"  style="margin-top: 1px">
              <i class="fa fa-sync mr-1" aria-hidden="true"></i>
              <span>
                  {{ 'Làm mới' }}
              </span>
          </button>
          <button type="button"   class="bi bi-download" class="tmss-btn btn-outline-success bi bi-download" style="margin-top: 1px"
          onclick="document.getElementById('linkNenkeiExample').click()">
            <i class="fa fa-file-download mr-1"></i>Tải mẫu Import
            <a id = 'linkNenkeiExample' hidden href='/assets/sampleFiles/ImportBooks.xlsx'></a>
           </button>
        </div>
        </div>
        <div class="row">
          <div class="ui-g-12 ph-0">
                <grid-table [columnDefs]="columnDef" [defaultColDef]="defaultColDef" [showPagination]="false"
                  [rowData]="delearImport" (callBackEvent)="callBackGrid($event)" [height]="'300px'"></grid-table>
          </div>
        </div>
        <div class="mt-2">
          <div class="row">
						<div class="col-md-2" style="margin-left: -11px">
              Tổng số bản ghi: {{ delearImport?.length | number}}
						</div>
						<div class="col-md-3">
              Tổng số bản ghi không lỗi: {{ delearImportSuccess | number}}
						</div>
						<div class="col-md-2" style="color: red;margin-left: -43px">
              Tổng số bản ghi lỗi: {{ delearImportError | number}}
						</div>

					</div>
        </div>
        <div class="text-right mt-1">
          <span style="    margin-top: 4px;margin-left:-10px; float: left;color: #ff0000"><b>Yêu cầu: Sau khi bấm nút "Kiểm tra", Kết quả các bản ghi trả ra phải là "Bản ghi hợp lệ" thì mới bấm  "LƯU" được
          </b></span>

          <button class="tmss-btn btn-outline-success" (click)="validate()" [disabled]="check">
            <i class="tmss-fa fas fa-check mr-1"></i>{{l("Kiểm tra")}}
          </button>
          <button type="submit" class="tmss-btn btn-outline-success" (click)="importProcess()"
            [disabled]="!check"><i class="fa fa-save mr-1" ></i> <span>{{l("Lưu")}}</span></button>
            <button type="button" class="tmss-btn btn-outline-dark" (click)="closeModal()"> <i class="fa fa-times mr-1" ></i>{{l("Close")}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
